In [1]:
# Importing Necessary Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Dataset source : [link](https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies/data)

In [3]:
# Loading the dataset
df = pd.read_csv("../../data/movie-raw-data-csv/tmdb-movies.csv", low_memory=False)
df.sample(3).T

,966847,512159,908868
id,253092,1081058,617014
title,Spend the Holidays with Liberace,In Search of Marcus Garvey,Life in a Zen Buddhist Monastery in Japan
vote_average,0.0,0.0,0.0
vote_count,0,0,0
status,Released,Released,Released
release_date,1955-11-24,1981-01-01,1959-01-01
revenue,0,0,0
runtime,53,28,9
adult,False,False,False
backdrop_path,/rfs541bNr5PcyZPaf86S0CNG7AT.jpg,NaN,NaN
budget,0,0,0
homepage,NaN,NaN,NaN
imdb_id,NaN,NaN,NaN
original_language,en,en,en
original_title,Spend the Holidays with Liberace,In Search of Marcus Garvey,Life in a Zen Buddhist Monastery in Japan
overview,Liberace invites us to his Thanksgiving musica...,"Leon Brown, a young psychologist, find pamphle...","In Yokohama, novices wake up early in the Soto..."
popularity,0.6,0.6,0.6
poster_path,/xBeSqyfVGwIdrZphrLAiZHWj2ZQ.jpg,/jzqBczl5yKGNL3F24dIgTeLIQuP.jpg,/rOm086FyLG6t0MKfaMTqysIF3hu.jpg
tagline,NaN,NaN,NaN
genres,"Music, TV Movie",NaN,Documentary
production_companies,NaN,NaN,NaN
production_countries,NaN,NaN,NaN
spoken_languages,English,NaN,NaN
keywords,NaN,NaN,NaN

In [4]:
# The number of rows and columns in the dataset
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 1269226
Number of columns: 24

In [5]:
# Checking column Dtypes, non-null counts, and size
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269226 entries, 0 to 1269225
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1269226 non-null  int64
 1   title                 1269213 non-null  object
 2   vote_average          1269226 non-null  float64
 3   vote_count            1269226 non-null  int64
 4   status                1269226 non-null  object
 5   release_date          1023988 non-null  object
 6   revenue               1269226 non-null  int64
 7   runtime               1269226 non-null  int64
 8   adult                 1269226 non-null  bool
 9   backdrop_path         326879 non-null   object
 10  budget                1269226 non-null  int64
 11  homepage              132450 non-null   object
 12  imdb_id               634125 non-null   object
 13  original_language     1269226 non-null  object
 14  original_title        1269213 non-null  object
 15  overview              993031 non-null   object
 16  popularity            1269226 non-null  float64
 17  poster_path           843696 non-null   object
 18  tagline               177555 non-null   object
 19  genres                734541 non-null   object
 20  production_companies  557098 non-null   object
 21  production_countries  679126 non-null   object
 22  spoken_languages      702425 non-null   object
 23  keywords              328097 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 223.9+ MB

In [ ]:
# Displaying statistics of the dataset (Numerical columns)
df.describe(include='int').T

,count,mean,std,min,25%,50%,75%,max
id,1269226.0,815727.241383,4.345462e+05,2.0,450560.25,826014.5,1202821.75,1.527487e+06
vote_count,1269226.0,16.902560,3.014705e+02,0.0,0.00,0.0,1.00,3.449500e+04
revenue,1269226.0,657105.513273,1.880353e+07,-12.0,0.00,0.0,0.00,5.000000e+09
runtime,1269226.0,45.869586,6.125823e+01,-28.0,0.00,19.0,87.00,1.440000e+04
budget,1269226.0,253695.971793,5.182517e+06,0.0,0.00,0.0,0.00,1.000000e+09

In [8]:
# Displaying statistics of the dataset (Categorical columns)
df.describe(include=['object', 'category']).T

,count,unique,top,freq
title,1269213,1083288,Home,172
status,1269226,6,Released,1232402
release_date,1023988,43221,2006-01-01,3852
backdrop_path,326879,324016,/3CxwYgqGtJ6UEGfWUT0gMYCIlFP.jpg,157
homepage,132450,123989,https://animation.geidai.ac.jp,147
imdb_id,634125,631920,tt32094375,97
original_language,1269226,177,en,690939
original_title,1269213,1118994,Untitled,125
overview,993031,962935,,1220
poster_path,843696,838627,/wtoKLMm4UvkwvcSwO3XWcs1gJuF.jpg,54
tagline,177555,170239,English,271
genres,734541,14140,Documentary,147454
production_companies,557098,220415,Evil Angel,3035
production_countries,679126,10512,United States of America,189859
spoken_languages,702425,7268,English,251302
keywords,328097,188609,short film,10689